/* Variables globales */
:root {
    --primary-color: #FFCA09;
    --secundary-color: #D9D9D9; 
    --accent-color: #EF3E36;
    --text-color: #333;
    --font-primary: 'Roboto', sans-serif;
}

/* Estilos generales */
body {
    font-family: var(--font-primary);
    background-color: var(--secundary-color);
}

/* mission vision */
.vision-mission {
    padding: 3rem 0;
    background-color: var(--secundary-color);
    text-align: center;
}

.vision-mission h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.divider {
    width: 2px;
    background-color: #000;
    height: 100%;
}

/* Values */
.values {
    padding: 3rem 0;
    background-color: var(--secundary-color);
}

.values h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
}

.value-icon {
    width: 200px;
    height: 172px;
    margin-bottom: 1rem;
}

/* Team */
.team {
    width: 754px auto;
    height: 100%;
    padding: 10px;
    background-color: var(--secundary-color);
}

.team h2 {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
}

.team p {
    font-size: 24px;
    line-height: 28px;
}
