/* Variables globales */
:root {
    --primary-color: #FFCA09;
    --accent-color: #EF3E36;
    --text-color: #333;
    --font-primary: 'Roboto', sans-serif;
}

/* Estilos generales */
body {
    font-family: var(--font-primary);
}

/* Header */
.slider-container {
    height: calc(591px - 45px);
    position: relative;
    background-size: cover;
    background-position: center;
}

.text-box {
    width: 754px;
    height: 116px;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-title {
    font-size: 128px;
    line-height: 150px;
}

.slider-description {
    font-size: 40px;
    line-height: 46px;
}

.interactive-btns {
    position: absolute;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.slider-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.slider-dot.active {
    background-color: #000;
    opacity: 0;
}

/* Products */
.products {
    width: 754px;
    height: 100%;
    padding: 10px;
}

.products h2 {
    font-size: 48px;
    line-height: 56px;
}

.products p {
    font-size: 24px;
    line-height: 28px;
}

.product-list h3 {
    font-size: 20px;
    line-height: 23px;
}

.product-list ul {
    font-size: 16px;
    line-height: 18px;
}

/* Brands */
.brands {
    height: 536px;
    position: relative;
    height: 100%;
    background-color: var(--primary-color);
    
}

.brands h2 {
    padding-top: 20px;
    font-size: 48px;
    line-height: 56.25px;
    text-align: center;
    color: var(--accent-color);
    font-weight: 700;

}

.brand-img {
    width: 293.82px;
    height: 255.55px;
    object-fit: contain;
    margin-bottom: 25px;
}

/* Contact */
.contact {
    width: 696px;
    height: 100%;
    position: relative
}

.contact-img {
    width: 428px;
    height: 452px;
    object-fit: cover;
}

.card-contact {
    width: 345px;
    height: 310px;
    padding: 20px;
    background: #F1F1F1;
    position: absolute; 
    border-radius: 5px 0 0 0;
    left: 10%;
}

.card-contact h2 {
    font-size: 40px;
    line-height: 50px;
    color: var(--accent-color);
    font-weight: 700;
}

.contact-list {
    font-size: 16px;
    line-height: 50px;
    list-style: none;
    padding: 0;
}

.contact-list i {
    margin-right: 10px;
}

/* Responsivos */
@media (max-width: 992px) {
    .text-box {
        width: 90%;
        left: 5%;
        transform: none;
    }   

    .products,
    .contact{
        width: 90%;
    }

    .contact-img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .slider-title {
        font-size: 48px;
        line-height: 56px;
    }
    
    .slider-description {
        font-size: 24px;
        line-height: 32px;
    }
    
    .card-contact {
        position: absolute;
        left: 5%;
        height: auto;
        width: 80%;
        opacity: 0.9;
    }
    
    .contact-img {
        width: 90%;
        height: 150%;
    }
}
